.section-features{
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)),
      url(../../img/nat-4.jpg);
  margin-top: -20rem;
  padding: 20rem 0;
  background-size: cover;
  background-position: top;
  position: relative;
  clip-path: polygon(0 100%-78.4%, 100% 0, 100% 78.94%, 0 100%);
  -webkit-clip-path: polygon(0 10%, 100% 0, 100% 80%, 0 100%);

  @include respond(tab-port) {
    clip-path: polygon(0 10%, 100% 0, 100% 80%, 0 100%);
    -webkit-clip-path: polygon(0 10%, 100% 0, 100% 80%, 0 90%);
    padding-bottom: 32rem;
  }
}
